<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <title>Multido.</title>
  <meta name="description" content="Shared todo lists for teams." />
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link rel="stylesheet" href="/fonts/css/md-icons.css">
  <link rel="stylesheet" href="/fonts/css/animation.css"><!--[if IE 7]><link rel="stylesheet" href="css/md-icons-ie7.css"><![endif]-->
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>

  {% block main %}

    <div class="content row">
      {% block todos %}

      {% endblock %}
    </div>

    <footer>
    {% block footer %}
      <div class="md-footer">
        <div class="md-footer-left">
          <a class="button button--red button--logo">Multido</a>
        </div>
        <div class="md-footer-right">
          <a class="button button--blue button--ui">Menu</a>
        </div>
       </div>
    {% endblock %}
    </footer>


  {% endblock %}
  {% block multidoScript %}{% endblock %}
  {% for asset in assets %}
    <script type="text/javascript" src="{{ asset }}"></script>
  {% endfor %}

</body>
</html>
