<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <title>Multido.</title>
  <meta name="description" content="Shared todo lists for teams." />
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/css/site.css">
  <link rel="stylesheet" href="/fonts/css/md-icons.css">
  <link rel="stylesheet" href="/fonts/css/animation.css"><!--[if IE 7]><link rel="stylesheet" href="css/md-icons-ie7.css"><![endif]-->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</head>
<body>

  {% block main %}
    <header>
      {% block header %}
        <h1 class="header-wordmark">Multido</h1>
      {% endblock %}
    </header>

    <div class="content list-count-1 row">
      {% block todos %}

      {% endblock %}
    </div>

    <footer>
    {% block footer %}
      &copy; 2014 <a href="http://punkave.com" target="blank">P'unk Avenue</a>
    {% endblock %}
    </footer>

  {% endblock %}

  {% for asset in assets %}
    <script type="text/javascript" src="{{ asset }}"></script>
  {% endfor %}
</body>
</html>
