{% extends 'base.html' %}

{% block todos %}
  {#<div class="md-lists list-count-{{multido.lists.length}}">
    {% for list in multido.lists %}
        <ul class="md-list" data-md-list="{{ list._id }}">
        <div class="md-list-title" data-md-list-title contenteditable="true">{{ list.name }}</div>
        <li class="md-todo" data-md-todo>
          <span class="md-todo-text" data-md-todo-text>First todo</span>
          <span data-md-todo-edit class="md-icon icon-pencil md-todo-edit"></span>
        </li>
        {% for todo in list.todos %}
          <li class="md-todo" data-md-todo>First todo</li>
        {% endfor %}
        <li class="md-todo new " >
          <span class="md-icon icon-plus md-todo-add"></span>
          <span class="md-todo-text" contenteditable="true">New</span>
        </li>
      </ul>
    {% endfor %}
  </div>#}
  <div class="todos"></div>
  <script id="todo-template" type="text/template">
    {% raw %}
    <ul class="md-list" data-md-list="{{ _id }}" proxy-sortable="sort-items">
      <div class="md-list-title" data-md-list-title contenteditable="true">{{ name }}</div>

      {{#each todos :i}}
      <li class="md-todo" data-md-todo>
        <input type="checkbox" checked='{{checked}}' on-click="check" />
        {{#editing}}
          <input class="md-todo-text" on-enter="done-editing-todo" value="{{text}}" />
        {{else}}
          <span class="md-todo-text" data-md-todo-text>{{text}}</span>
        {{/editing}}
        <span data-md-todo-edit class="md-icon icon-pencil md-todo-edit" on-click="set('todos['+i+'].editing', true)"></span>
        <span data-md-todo-delete class="md-icon icon-trash md-todo-trash" on-click="delete-todo"></span>
      </li>
      {{/each}}

      <li class="md-todo new" >
        <span class="md-icon icon-plus md-todo-add" on-click="add-todo"></span>
      </li>
    </ul>
    {% endraw %}
  </script>
{% endblock %}

{% block multidoScript %}
  <script>
    window.multido = {{ multido | json | safe }};

    var socket = io();
    socket.emit('multido:join', { multidoId: window.multido._id });
  </script>
{% endblock %}
