{% extends 'base.html' %}

{% block todos %}
  <div class="todos">
    {% for todo in multido.lists %}
      <div class="todo-container" data-md-contains="{{ todo._id }}"></div>
    {% endfor %}
  </div>
  <div class="todo-container  md-list-add" data-add-list data-list-count="{{multido.lists.length % 4}}">
    <span class="button button--yellow md-icon icon-plus">Add a New List</span>
  </div>
  <script id="todo-template" type="text/template">
    {% raw %}
    <div class="md-list">
      <div class="md-list-title-wrapper" >

        <h3 class="md-list-title" data-md-list-title contenteditable="true" on-enter="name-change">{{ name }}</h3>
        <span class="md-icon icon-trash md-list-control md-list-remove right" on-click="delete-list"></span>
      </div>
      <div class="md-todo add-todo" data-md-add-todo >
        <textarea class="md-todo-text" data-md-todo-text-input on-enter="add-todo" value="{{text}}" placeholder="Add a todo and hit enter"></textarea>
      </div>
      <ul class="md-list-todos" data-md-list="{{ _id }}" not-sortable='sort-items' data-sortable>

        {{#each todos :i}}
        <li class="md-todo {{#editing}}editing{{/editing}}" data-md-todo>
          <label class="md-todo-checkbox">
            <input type="checkbox" checked='{{checked}}' on-click="check" />
            <span class="md-icon {{#checked}}icon-ok-squared{{else}}icon-check-empty{{/checked}}"></span>
          </label>
          {{#editing}}
            <textarea class="md-todo-text" data-md-todo-text-input on-enter="done-editing-todo" value="{{text}}"></textarea>
          {{else}}
            <span class="md-todo-text {{#checked}}checked{{/checked}}" data-md-todo-text>{{text}}</span>
          {{/editing}}

          <div class="md-todo-controls">
            {{#editing}}
              <span data-md-todo-edit class="md-icon icon-floppy md-todo-edit" on-click="done-editing-todo"></span>
            {{else}}
              <span data-md-todo-edit class="md-icon icon-pencil md-todo-edit" on-click="edit-todo"></span>
            {{/editing}}

            <span data-md-todo-delete class="md-icon icon-trash md-todo-trash" on-click="delete-todo"></span>
          </div>
        </li>
        {{/each}}
        {{^todos}}
          <div class="md-todo empty"></div>
        {{/todos}}

      </ul>
    </div>
    {% endraw %}
  </script>
{% endblock %}

{% block multidoScript %}
  <script>
    window.multido = {{ multido | json | safe }};

    var socket = io();
    socket.emit('multido:join', { multidoId: window.multido._id });
  </script>
{% endblock %}
