// ---------------------------------------------------------------
// Multido Colors
// ---------------------------------------------------------------

@blue: #3A305B;
@green: #A8DCA4;
@yellow: #FFFFA4;
@orange: #EA705E;
@red: #FF425B;
@text: #444;
@gray-light: #ddd;
@gray-dark: #666;
@black: #222;
@white: #fff;
