// ---------------------------------------------------------------
// Multido Footer
// ---------------------------------------------------------------
footer
{
  text-align: center;
  background: @blue;
  min-height: 10vh;
}
