// ---------------------------------------------------------------
// Multido Footer
// ---------------------------------------------------------------
footer
{
  text-align: center;
  background: @blue;
  min-height: 10vh;
}

.pre-footer
{
  min-height: 1rem;
}
