// ---------------------------------------------------------------
// Multido Lists
// ---------------------------------------------------------------
.todo-container
{
  .md-column(3);
  //border: 1px solid fadeout(@gray-light, 50%);
  margin-bottom: 1em;
}

.todo-container:nth-child(4n+1)
{
  clear: both;
}

.md-list-title
{
  padding: .5rem;
  .francois(24px);
  color: @white;
  text-align:center;
  background: @blue;

}
//Special Colors Based on Order
// .todo-container:nth-child(4n-3)
// {
//   .md-list-title
//   {
//     background: @blue;
//   }
// }
// .todo-container:nth-child(4n-2)
// {
//   .md-list-title
//   {
//     background: @green;
//   }
// }
// .todo-container:nth-child(4n-1)
// {
//   .md-list-title
//   {
//     background: @red;
//   }
// }
// .todo-container:nth-child(4n)
// {
//   .md-list-title
//   {
//     background: @orange;
//   }
// }

.md-list-count-1
{
  .todo-container:first-child
  {
    .md-push(4.5);
  }
}

.md-list-count-2
{
  .todo-container:first-child
  {
    .md-push(3);
  }
}

.md-list-count-3
{
  .todo-container:first-child
  {
    .md-push(1.5);
  }
}

// The Add list button
.md-list-add
{
  display: inline-block;
  vertical-align: top;
  //clear: right;
  height: 100%;
  //margin-left: 1em;
  margin-top: 3rem;

  text-align: center;
  font-size: 72px;

  cursor: pointer;
  color: @text;
  .transition(opacity .1s ease);
  &:hover
  {
    opacity: .8;
  }
  &[data-list-count="0"]
  {
    clear: both;
  }
  &.md-list-add--home
  {
    width: 100%;
    text-align:center;
  }

}
