// ---------------------------------------------------------------
// Multido Lists
// ---------------------------------------------------------------
.md-list
{
  .md-column(4);
  //border: 1px solid fadeout(@gray-light, 50%);
}

.md-list-title
{
  padding: .5rem;
  .francois(24px);
  color: @white;
  text-align:center;
  background: @blue;

}

.list-count-1
{
  .md-list:first-child
  {
    .md-push(4);
  }
}

.list-count-2
{
  .md-list:first-child
  {
    .md-push(2);
  }
}

// The Add list button
.md-list-add
{
  display: block;
  text-align: center;
  font-size: 48px;
  cursor: pointer;
  color: @text;
  .transition(opacity .1s ease);
  &:hover
  {
    opacity: .8;
  }
}
