// ---------------------------------------------------------------
// Multido Todos
// ---------------------------------------------------------------
.md-todo
{
  padding: 1rem;
  border: 1px solid @gray-light;
  border-top: none;
  cursor: move;
  background: @white;

  &.controls
  {
    cursor: default;
    .md-icon
    {
      cursor: pointer;
      &.right
      {
        float: right;
      }
    }
  }

  &.empty
  {
    padding: 0.25em 0;
    background-color: #f4f4f4;
    cursor: default;
  }
}

// .md-todo.sortable-dragging
// {
//   .transform(rotateZ(45deg));
// }

.md-todo-text
{
  display: inline-block;
  vertical-align: top;
  cursor: move;
  max-width: 70%;

  &.checked
  {
    text-decoration: line-through;
  }
}

input.md-todo-text
{
  margin-top: -4px;
  margin-bottom: -4px;
  width: 70%;
  cursor: text;
  .source-code-pro();
}

.md-todo-controls
{
  display: inline-block;
  vertical-align: top;
  float: right;
  text-align: right;
  width: 20%;

  // nudging the icons together a bit
  .md-icon::before
  {
    width: 0.5em !important;
  }
}

.md-todo-edit,
.md-todo-add,
.md-todo-trash
{
  cursor: pointer;
}

.sortable-placeholder
{
  min-height: 3.45rem;
  border: dashed 3px @gray-light;
}
