// ---------------------------------------------------------------
// Multido Todos
// ---------------------------------------------------------------
.md-todo
{
  padding: 1.5rem;
  border: 1px solid @gray-light;
  cursor: move;
}

.md-todo-text
{
  cursor: text;
}

.md-todo-edit,
.md-todo-add,
.md-todo-trash
{
  cursor: pointer;
}
