@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,400italic|Source+Sans+Pro:400,700,400italic|Karla:400,700,400italic|Francois+One:400|Noto+Sans:700,400);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: "Karla", 'Helvetica', 'Arial' sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  color: #444444;
}
.md-icon {
  text-decoration: none;
}
.md-icon:before {
  font-family: "md-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
body:after {
  clear: both;
}
.content {
  *zoom: 1;
  display: block;
  width: 102.08333333%;
  margin: 0 -1.04166667%;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 60vh;
}
.content:before,
.content:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.content:after {
  clear: both;
}
.md-column-1 {
  display: inline;
  float: left;
  width: 6.25%;
  margin: 0 1.04166667%;
}
.md-column-2 {
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
}
.md-column-3 {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
}
.md-column-4 {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
}
.md-column-5 {
  display: inline;
  float: left;
  width: 39.58333333%;
  margin: 0 1.04166667%;
}
.md-column-6 {
  display: inline;
  float: left;
  width: 47.91666667%;
  margin: 0 1.04166667%;
}
.md-column-7 {
  display: inline;
  float: left;
  width: 56.25%;
  margin: 0 1.04166667%;
}
.md-column-8 {
  display: inline;
  float: left;
  width: 64.58333333%;
  margin: 0 1.04166667%;
}
.md-column-9 {
  display: inline;
  float: left;
  width: 72.91666667%;
  margin: 0 1.04166667%;
}
.md-column-10 {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
}
.md-column-11 {
  display: inline;
  float: left;
  width: 89.58333333%;
  margin: 0 1.04166667%;
}
.md-column-12 {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.md-column-12:not(.md-column-12--tight) {
  width: 100%;
  margin: 0;
}
.md-push-1 {
  margin-left: 9.375%;
}
.md-push-2 {
  margin-left: 17.70833333%;
}
.md-push-3 {
  margin-left: 26.04166667%;
}
.md-push-4 {
  margin-left: 34.375%;
}
.md-push-5 {
  margin-left: 42.70833333%;
}
.md-push-6 {
  margin-left: 51.04166667%;
}
.md-push-7 {
  margin-left: 59.375%;
}
.md-push-8 {
  margin-left: 67.70833333%;
}
.md-push-9 {
  margin-left: 76.04166667%;
}
.md-push-10 {
  margin-left: 84.375%;
}
.md-push-11 {
  margin-left: 92.70833333%;
}
.md-push-12 {
  margin-left: 101.04166667%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #faf9f1;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
header {
  *zoom: 1;
  text-align: left;
  padding-left: 1rem;
  min-height: 10vh;
}
header:before,
header:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
header:after {
  clear: both;
}
.header-wordmark {
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  line-height: 10vh;
}
.todo-container {
  display: inline;
  float: left;
  width: 22.91666667%;
  margin: 0 1.04166667%;
  margin-bottom: 1em;
}
.todo-container:nth-child(4n+1) {
  clear: both;
}
.md-list-title-wrapper {
  position: relative;
  padding: .5rem;
  color: #ffffff;
  background: #3a305b;
}
.md-list-title {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Source Sans Pro", 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  line-height: 28.8px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border: none;
  outline: none;
}
.md-list-control {
  position: absolute;
  width: 5%;
  top: .8rem;
  left: 1rem;
  cursor: pointer;
}
.md-list-control:before {
  font-size: 1rem;
  color: #ffffff;
}
.md-list-control.right {
  left: initial;
  right: 1rem;
}
.md-list-count-1 .todo-container:first-child {
  margin-left: 38.54166667%;
}
.md-list-count-2 .todo-container:first-child {
  margin-left: 26.04166667%;
}
.md-list-count-3 .todo-container:first-child {
  margin-left: 13.54166667%;
}
.md-list-add {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  margin-top: 3rem;
  text-align: center;
  font-size: 72px;
  cursor: pointer;
  color: #444444;
  -webkit-transition: opacity 0.1s ease;
  -moz-transition: opacity 0.1s ease;
  -ms-transition: opacity 0.1s ease;
  -o-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}
.md-list-add:hover {
  opacity: .8;
}
.md-list-add[data-list-count="0"] {
  clear: both;
}
.md-list-add.md-list-add--home {
  width: 100%;
  text-align: center;
}
.md-todo {
  padding: 1rem;
  margin-top: .15rem;
  margin-bottom: .15rem;
  max-width: 100%;
  border: 1px solid #dddddd;
  border-radius: 2px;
  cursor: move;
  background: #ffffff;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.md-todo.controls {
  cursor: default;
}
.md-todo.controls .md-icon {
  cursor: pointer;
}
.md-todo.controls .md-icon.right {
  float: right;
}
.md-todo.empty {
  padding: .5em 0;
  background-color: #faf9f1;
  border: none;
  cursor: default;
}
.md-todo.add-todo {
  padding-bottom: 0;
}
.md-todo:hover .md-todo-controls,
.md-todo.editing .md-todo-controls {
  opacity: 1;
}
.md-todo-checkbox input {
  visibility: hidden;
  position: absolute;
}
.md-todo-checkbox {
  display: inline-block;
  width: 10%;
  font-size: 1.5rem;
  color: #666666;
}
.md-todo-checkbox .md-icon {
  text-align: left;
}
.md-todo-checkbox .md-icon:before {
  margin-left: 0;
}
.md-todo-text {
  display: inline-block;
  vertical-align: top;
  cursor: move;
  max-width: 70%;
}
.md-todo-text.checked {
  text-decoration: line-through;
}
textarea.md-todo-text {
  padding: 0;
  width: 70%;
  cursor: text;
  font-family: "Karla", 'Helvetica', 'Arial' sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  color: #2b2b2b;
  background: none;
  resize: none;
  outline: none;
  border: none;
}
.md-todo-controls {
  display: inline-block;
  vertical-align: top;
  float: right;
  text-align: right;
  width: 18%;
  opacity: 0;
  -webkit-transition: opacity 0.07s;
  -moz-transition: opacity 0.07s;
  -ms-transition: opacity 0.07s;
  -o-transition: opacity 0.07s;
  transition: opacity 0.07s;
}
.md-todo-controls .md-icon::before {
  width: 0.5em !important;
}
.md-todo-edit,
.md-todo-add,
.md-todo-trash {
  cursor: pointer;
}
.sortable-placeholder {
  min-height: 3.45rem;
  border: dashed 3px #f2efda;
}
.sortable-dragging {
  transform: scale(1.1);
}
footer {
  position: relative;
  font-family: "Source Sans Pro", 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  min-height: 30vh;
  overflow: hidden;
}
.inner-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;
  background: #3a305b;
  height: 10vh;
  color: white;
  line-height: 10vh;
}
.inner-footer a {
  color: #ffffff;
}
.pre-footer {
  position: absolute;
  bottom: -35px;
  width: 100%;
  min-height: 8rem;
  min-width: 90%;
  -webkit-transition: transform 0.15s;
  -moz-transition: transform 0.15s;
  -ms-transition: transform 0.15s;
  -o-transition: transform 0.15s;
  transition: transform 0.15s;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}
.pre-footer--red {
  background: #ff425b;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  margin-left: 1%;
}
.pre-footer--red.shift {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.pre-footer--green {
  background: #afdc94;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  margin-left: 3%;
}
.pre-footer--green.shift {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}
.pre-footer--yellow {
  background: #fffda8;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  margin-left: -5%;
}
.pre-footer--yellow.shift {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.pre-footer--orange {
  background: #ea9c6c;
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
  margin-left: -1%;
}
.pre-footer--orange.shift {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
@media (max-width: 1023px) {
  .todo-container {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.04166667%;
  }
}
@media (max-width: 800px) {
  .todo-container {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
  }
}
@media (max-width: 500px) {
  .todo-container {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 1em;
  }
}
